In [1]:
#creating lists->note: in lists we can change the items but in tuples we cannot
empty_list=[]

fruits=["apple","banana"]

nums=[1,2,3]

boolean=[True, False,False]

mix=[1,"apple", True]

In [3]:
#printing lists
mix

[1, 'apple', True]

In [4]:
nums

[1, 2, 3]

In [5]:
#accessing the elements
nums[0]

1

In [8]:
#slicing the list- range start:end
nums[0:2]

[1, 2]

In [9]:
nums[0:]

[1, 2, 3]

In [12]:
nums[:2]

[1, 2]

In [16]:
#methods- to access press . and press tab

nums.append(4)
nums
fruits.insert(1,"kiwi")
fruits
boolean.pop()
boolean

[True, False]

In [17]:
#creating tuples-note: in tuples we cannot change the items

empty_tuple=()

fruits=("apple", "banana")
nums=(1,2,3)
mix=(1,True,"a")

In [18]:
type(mix)

tuple

In [20]:
fruits

('apple', 'banana')

In [22]:
fruits[1] #note:here we cannot call it with(), we have to use []

'banana'

In [29]:
# fruits[1]="jackfruit" ====error

#methods
fruits.index("banana") #gives the index

1

In [30]:
#creating sets-unordered collection of unique elements

empty_set={}

fruits={"apple","banana"}

In [32]:
type(fruits)

set

In [33]:
#removes duplicates
fruits={"apple","apple","banana"}
fruits

{'apple', 'banana'}

In [34]:
#accessing the items of the list

for element in fruits:
    print(element)

apple
banana

In [36]:
# creating dictionaries= to store key-value pairs & is ordered where key is unique

empty_dict={}

employee={ 'name':'Alice', 'age':30, "height":3.6}
employee

{'name': 'Alice', 'age': 30, 'height': 3.6}

In [37]:
#accessing the item

employee["name"]

'Alice'

In [44]:
#another way of accessing item
employee.get("name")

'Alice'

In [38]:
#modify the dictionary

employee["age"]=18
employee

{'name': 'Alice', 'age': 18, 'height': 3.6}

In [41]:
#common operations on dictionary
employee.keys()

dict_keys(['name', 'age', 'height'])

In [42]:
employee.values()

dict_values(['Alice', 18, 3.6])

In [43]:
employee.items()

dict_items([('name', 'Alice'), ('age', 18), ('height', 3.6)])